// Grid.
$xs	: 375px;
$sm	: 480px;
$md	: 768px;
$lg	: 992px;
$xl	: 1200px;
$xxl: 1366px;

// Container max-width.
$container-md: 760px;
$container-lg: 990px;
$container-xl: 1200px;

// Container padding.
$container-padding: 24px;

// Font families.
$ff			: 'Roboto', sans-serif;
$ff-title	: 'Bebas Neue', sans-serif;

// Font sizes.
$fs-xs	: 12px;
$fs-sm	: 14px;
$fs-md	: 16px;
$fs-lg	: 18px;
$fs-xl	: 20px;

// Font weights.
$fw-light	: 300;
$fw-regular	: 400;
$fw-medium	: 500;
$fw-semibold: 600;
$fw-bold	: 700;
$fw-black	: 800;

// Line heights.
$lh			: 1.5;
$lh-title	: 1.3;

// Colors.
$white	: #FFFFFF;
$black	: #000000;
$acent  : #cdb6a7;

//gradient
$grad: linear-gradient(89deg, rgba(232, 194, 95, 0.4) 0%, rgba(232, 194, 95, 0.4) 1%, rgba(199, 138, 32, 0.4) 30%, rgba(243, 226, 146, 0.4) 53%, rgba(198, 143, 43, 0.4) 76%, rgba(232, 194, 95, 0.4) 100%);

// Others.
$tr: 0.35s;
$op: 0.7;